
.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0,0,0, 0.1);
    flex-wrap: wrap;
    padding:10px
}

.player--info {
    display: flex;
   flex-grow: 1;
    align-items: center;
}

.player--info p {
    display: flex;
    align-items: center;
    padding:0;
    margin:0;
  }

.player--info div:first-child {
width: 65%;
  }

.player--info p:nth-child(2) {
/* margin: 0 20px; */
  }


  
.player--actions {
    display: flex;
    align-items: center;
}

.player--actions div {
    width: 30px;
}

.player--actions svg {
    display: block;
    margin: auto;
}

/* Player card - Modal */

.player-modal {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 20px;

}
/* player modal banner  */
.banner {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
/*  player's team */
.player-team {
  margin: 20px 0;
}

.player-team > div {
  display: flex;
}
/* team property label */
.player-team > div > h5 {
  display: flex;
}
/* team property */
.player-team > div > p {
  display: flex;
}


.modal-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.modal-actions button {
  margin:0 5px
}

@media only screen and (max-width: 650px) {
  .player--info p:nth-child(2) {
    display: none
  }

  .player--actions div {
    width: 40px;
}
}
