
.App {
  text-align: center;
}

.app-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    height: calc(100% - 60px);
}

main > div:first-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 100px);
    padding: 50px 20px;
}

main > div:nth-child(2) {
  width: 100%;
}

.container {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    height: 100%;
}

.list-bar {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.color-picker {
    display: flex;
    align-items: center;
}

.list-bar button {
    background-color: transparent;
    width: 22px;
    height: 22px;
    border: 1px solid rgb(0,0,0, 0.1);
    border-radius: 999px;
    box-shadow: 0px 1px 1px 1px rgb(0,0,0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 3px;
    min-width: 22px;
}

.list-bar button:hover {
    cursor: pointer;
}

.list-bar button:active {
    cursor: pointer;
    transform: scale(0.95);
}

.container ul {
    flex-grow: 1;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    max-height: calc(100% - 90px);
    overflow-y: auto;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.05);
    
}

.empty {
   margin-top: 100px;
   font-size: 16px;
   font-weight: 900;
}

.container h3 {
    text-align: center;
    margin: auto;
}

.container > div {
    padding: 0 20px;
    height: 100%;
}

.button {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0,0,0, 0.1);
    border-radius: 999px;
    box-shadow: 0px 1px 1px 1px rgb(0,0,0, 0.1);
}

.button:hover {
    cursor: pointer;
}

.button:active {
    cursor: pointer;
    transform: scale(0.95);
}

.list {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    max-width: 48%;
}

.players-list {
    flex-grow: 1;
    border: 1px solid rgb(0,0,0, 0.1);
    max-height: 600px;
    overflow-y: auto;
}



  @media only screen and (max-width: 600px) {
    .root {
        padding:0px;
    }

    .container {
      max-width: 100%;
    }

    main  {
        overflow: hidden;
    }

    /* Lists */
    main > div:first-child {
        padding: 30px 10px 0px;
        height: 85%
    }

    main > div:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main button {
        background-color: transparent;
        color:  rgb(211, 5, 101);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        padding: 10px 20px;
        width: 120px;
        font-weight: 300;
        font-size: 14px;
    }

    main button:hover {
        border: 1px solid rgba(128, 240, 255, 0.924);
    }

    .container > div {
        padding: 0px;
    }
  }


