
.App {
  text-align: center;
}

.icon {
    width: 18px;
    color: rgba(0, 0, 0, 0.534);
}

.icon:hover {
    cursor: pointer;
    color: rgb(0,0,0);
}

.favorite   {
    color: rgb(255,249,34);
}

.favorite svg  {
    border: 1px solid rgb(0,0,0,0.3)
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    height: calc(100% - 60px);
}

main > div:first-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 100px);
    padding: 50px 20px;
}

main > div:nth-child(2) {
  width: 100%;
}

.container {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    height: 100%;
}

.list-bar {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 20px;
    /* border: 1px solid rgb(0, 0, 0, 0.2); */
    border-radius: 5px;
}

/* button.clear-search-field {
    width: 22px;
    height: 22px;
    border: 1px solid rgb(0,0,0, 0.1);
    border-radius: 999px;
    box-shadow: 0px 1px 1px 1px rgb(0,0,0, 0.1);
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 2px;
} */

.color-picker {
    display: flex;
    align-items: center;
}

.list-bar button {
    background-color: transparent;
    width: 22px;
    height: 22px;
    border: 1px solid rgb(0,0,0, 0.1);
    border-radius: 999px;
    box-shadow: 0px 1px 1px 1px rgb(0,0,0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 3px;
}

.list-bar button:hover {
    cursor: pointer;
}

.list-bar button:active {
    cursor: pointer;
    transform: scale(0.95);
}

.container ul {
    flex-grow: 1;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    max-height: calc(100% - 90px);
    overflow-y: auto;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.05);
    
}

.container h3 {
    text-align: center;
    margin: auto;
}

.container > div {
    padding: 0 20px;
    height: 100%;
}

.button {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0,0,0, 0.1);
    border-radius: 999px;
    box-shadow: 0px 1px 1px 1px rgb(0,0,0, 0.1);
}

.button:hover {
    cursor: pointer;
}

.button:active {
    cursor: pointer;
    transform: scale(0.95);
}

.list {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    max-width: 48%;
}

.players-list {
    flex-grow: 1;
    border: 1px solid rgb(0,0,0, 0.1);
    max-height: 600px;
    overflow-y: auto;
}

.modal-layer {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal {
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    z-index: 11;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    border-radius: 25px;
    min-width: 200px;
    
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
  }

.modal-close {
    width: 100%;
}

.modal-close > div {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

.modal-close button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    border: none;
  }


  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);  */
    /* border-radius: 10px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.15); 
  }



  @media only screen and (max-width: 600px) {
    .root {
        padding:0px;
    }

    .container {
      max-width: 100%;
    }

    main  {
        overflow: hidden;
    }

    main > div:first-child {
        padding: 0px;
        padding:10px;
        height: 90%
    }

    main > div:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main button {
        background-color: transparent;
        color:  rgb(211, 5, 101);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        padding: 10px 20px;
        width: 120px;
        font-weight: 300;
        font-size: 14px;
    }

    main button:hover {
        border: 1px solid rgba(128, 240, 255, 0.924);
    }

    .container > div {
        padding: 0px;
    }

    .modal {
        height: 100%;
        width: 100%;
        border-radius: 0;
      }
  }